//- edit-article.pug
extends main.pug

block content
  - var h1 = article.h1 || "";
  - var title = article.title || "";
  - var description = article.description || "";
  - var keywords = article.keywords || "";
  - var content =article.content || "";
  form#edit-article-form(method="POST" action="/admin/article/" + article._id)
    input(type="hidden" id="_id" value=article._id)
    .form-group#h1
      .input-group
        span.input-group-addon h1
        input.form-control(autocomplete="off" type="text" name="h1" value=h1)
    .form-group#title
      .input-group
        span.input-group-addon title
        input.form-control(autocomplete="off" type="text" name="title" value=title)
    .form-group#keywords
      .input-group
        span.input-group-addon keywords
        input.form-control(autocomplete="off" type="text" name="keywords" value=keywords)
    .form-group#description
      .input-group
        span.input-group-addon description
        input.form-control(autocomplete="off" type="text" name="description" value=description)
    if categories && categories.length
      .form-group#category(data-base-value=article.category ? article.category._id : "")
        label(for="category") Категория (сменить на input)
        select.form-control(name="category")
          option(value='') - Please choose -
          each category in categories
            option(value=category._id)= category.name
    else
      .alert(class="alert-warning" role='alert' style='margin-bottom: 10px')
          span.glyphicon.glyphicon-info-sign(aria-hidden="true")
          |  
          strong Категории ещё не созданы.
          |  
          a(href="/admin/categories" title="Управление категориями") Перейти к управлению категориями.
    .form-group
      label(for="tag") Теги
      .input-group
        input.form-control(autocomplete="off" type="text" id="tag")
        .input-group-addon#create-tag +
      .list-group#tags-list
    section.tags#tags-area
      - var tagColors = ["default", "primary", "success", "info", "warning", "default", "primary", "success", "info", "warning"];
      each tag, index in article.tags
        input.form-control(autocomplete="off" name="tags" type="hidden" value=tag.name)
        span.tag-wrapper
          span(class="label label-" + tagColors[index])
            span.glyphicon.glyphicon-tag(aria-hidden="true")
            | #{tag.name}
    #editor-wrapper
      #editor!= content
      input#content-input(name="content" type="hidden" value=content)
    .form-group
      -var ap = article.image ? article.image.split('/') : [''];
      -var articleImageValue = ap[ap.length - 1];
      input#body(name="image" type="hidden" value=articleImageValue)
      #img-spinner(style="display: none")
        .lds-spinner
          - for (var i = 0; i < 12; ++i) {
            div
          - }
      label(for="img-button") Изображение статьи
      if article.image
        img.img-responsive#img-preview(src=article.image alt="Главное изображение статьи")
        button.btn.btn-default.btn-lg.btn-block#img-button(type="button") Заменить изображение
      else
        button.btn.btn-success.btn-lg.btn-block#img-button(type="button") Загрузить изображение
    button.btn.btn-danger.btn-lg.btn-block(type="submit") Перейти к просмотру
  
  form(method="POST" action="/admin/article/" + article._id + '/image' id="send-image-form" enctype="multipart/form-data")
      input(name="image-file" id="image-file" type="file" style="display: none")
    
  script(src="/js/edit-article.js")
  script(src="//cdn.quilljs.com/1.3.6/quill.min.js")
  link(rel='stylesheet' href="//cdn.quilljs.com/1.3.6/quill.snow.css")
  link(rel='stylesheet' href="//cdn.quilljs.com/1.3.6/quill.bubble.css")
  link(rel='stylesheet' href="//cdn.quilljs.com/1.3.6/quill.core.css")
