//- news-feed.pug
extends main.pug

block content
  if !articles || !articles.length
    h2 В этом разделе сайта пока что нет постов...
    p Но обязательно появятся =)
  else
    each article in articles
      - var url = article.isPublished && article.category ? "/" + article.category.slug +"/" + article.slug : "/article/" + article._id; 
      - var imgSrc = article.image || "/images/no-image.jpg";
      div.news-feed
        h2
          a(href=url)= article.h1 || "Без заголовка..."
        if article.tags && article.tags.length
          section.tags
            each tag in article.tags
              a(href="/tag/" + tag.slug title="Тег " + tag.name)
                span(class="label label-default")
                  span.glyphicon.glyphicon-tag(aria-hidden="true")
                  |  
                  | #{tag.name}
        img.img-responsive.img-thumbnail(src=imgSrc alt=article.title || "")
        p.description= article.description || "В описании пусто..."
        ol.breadcrumb
          li
            span.glyphicon.glyphicon-calendar(aria-hidden="true")
            |  #{article.createdAt}
          li
            span.glyphicon.glyphicon-folder-open(aria-hidden="true")
            |  
            if article.category
              a(href="/" + article.category.slug title=article.category.name)= article.category.name
            else
              | Категория не указана
          if !article.isPublished
            li
              span.glyphicon.glyphicon-trash(aria-hidden="true")
              |  
              a(href="/admin/article/" + article._id + "/delete" title="Удалить статью" onclick="return confirm('Точно удаляем?')") Удалить статью
        hr
